<div class="container">

    <form id="create_posts" method= "get" action="create"> 
        <h2>Crea tu post</h2>

        <div class="form-group">
            <label for= "title">Titulo</label>
            <input name="title" class="form-control">

        </div>

        <div class="form-group">
            <label for= "image_url">Imagen</label>
            <input name="image_url" class="form-control">
        </div>

        <div class="form-group">
            <label for= "content">Content</label>
            <textarea name="content" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" >Submit</button>
    </form>
    <li><%= link_to "Volver a inicio", posts_index_path%></li>
</div>